<!-- navbar.html -->
<nav class="navbar">
    <!-- Brand -->
    <div class="navbar-brand">
        <a class="navbar-brand me-auto custom-logo" href="/index">FilmBro</a>
    </div>

    <!-- Search Section -->
    <div class="profile-icon-container">
        <!-- Search Icon -->
        <i class="bi bi-search search-icon" data-bs-toggle="collapse" data-bs-target="#searchContainer"></i>
    </div>

    <div class="text-end ms-2 profile-icon-position d-flex align-items-center" id="navcol-2">
        <a class="btn btn-primary me-2 button-style" role="button" data-bs-toggle="modal" data-bs-target="#loginModal">Log in</a>
        <a class="btn btn-primary button-style" role="button" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
    </div>
</nav>
