<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | FilmBro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<!--<div class="container-fluid container-custom">-->
<!--    <div class="row space1">-->
<!--        &lt;!&ndash; Left Section &ndash;&gt;-->
<!--        <div class="col-6 col-md-5 col-lg-6 space custom-col-6">-->
<!--            <div class="justify-content-center align-items-start gap-4 vh-50 space-form-text costume-width photo-position">-->
<!--                &lt;!&ndash; Profile Photo &ndash;&gt;-->
<!--                <img th:src="${user.profilePic}"-->
<!--                     alt="Profile Picture"-->
<!--                     class="text-center text-white bg-secondary d-flex justify-content-center align-items-center rounded-circle mb-3 photo-width">-->
<!--                <div class="d-flex flex-column align-items-centergap-1 custom-position">-->
<!--                    &lt;!&ndash; Profile Name and Buttons &ndash;&gt;-->
<!--                    <h1 class="text-warning mb-3 username-style" th:text="${user.userName}"></h1>-->

<!--                    &lt;!&ndash; Bio &ndash;&gt;-->
<!--                    <p class="bio" th:text="${user.bio}"></p>-->

<!--                    &lt;!&ndash; Country &ndash;&gt;-->
<!--                    <p class="country"><b>Country:</b> <span th:text="${user.country}"></span></p>-->

<!--                    &lt;!&ndash;                        &lt;!&ndash; Followers and Following Buttons &ndash;&gt;&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <div class="d-flex div-follow-style">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <button class="btn btn-sm custom-btn follow-style" onclick="showFollowersPopup()">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                Followers <span><%=userDAO.getFollowers(id).size()%></span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            </button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <button class="btn btn-sm custom-btn follow-style" onclick="showFollowingPopup()">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                Following <span><%=userDAO.getFollowing(id).size()%></span>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            </button>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>